1. No two users can share the same User ID
- PRIMARY KEY constraint on the "UserID" attribute of "Users" table
- Added to "create.sql" file

2. All sellers and bidders must already exist as users
- FOREIGN KEY constraint on the "SellerID" attribute of the "Item" table, referencing the "UserID" attribute of the "Users" table 
- FOREGIN KEY constraint on the "UserID" attribute of the "Bids" table, referencing the "UserID" attribute of the "Users" table
- Added to "create.sql" file

3. No two items can share the same Item ID
- PRIMARY KEY constraint on the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

4. Every bid must correspond to an actual item
- FOREIGN KEY constraint on the "ItemID" attribute on the "Bids" table, referencing the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

5. The items for a given category must all exist
- FOREIGN KEY constraint on the "ItemID" attribute on the "Category" table, referencing the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

6. An item cannot belong to a particular category more than once
- UNIQUE constraint on the "ItemID" and "Category" attributes on the "Category" table
- Added to "create.sql" file

7. The end time for an auction must always be after its start time
- CHECK constraint on the "Item" table, making sure that the end time (ends) > start time (started)
- Added to "create.sql" file

8. The Current Price of an item must always match the Amount of the most recent bid for that item:
Add a trigger to update the 'currently' attribute on table 'items' to the newly inserted 'bid_amount' after each insert on 'bids'. This trigger is added as 'trigger1_add.sql' and 'trigger1_drop.sql'. 

9. A user may not bid on an item he or she is also selling.
Add a trigger to block insertion (before) on bids table where the user_id for the item_id is already listed as seller_id in table 'items' for the same item_id. This trigger is added as 'trigger2_add.sql' and 'trigger2_drop.sql'. 

10. No auction may have two bids at the exact same time.
Added a constraint to ensure that 'time','item_id' in relation 'items' are unique. This constraint is added to 'create.sql' 

11. No auction may have a bid before its start time or after its end time.
Add a trigger to block insertion (before) on bids table where time in bids table is before or after the 'started' and 'ends' in the 'items' table for same item_id.This trigger is added as 'trigger3_add.sql' and 'trigger3_drop.sql' 

12. No user can make a bid of the same amount to the same item more than once.
Add a constraint on making ('item_id','user_id','bid_amount') unique in relation 'items'. The constraint is added to 'create.sql'

13. In every auction, the Number of Bids attribute corresponds to the actual number of bids for that particular item.
Add a trigger to update the 'number_of_bids' in 'items' table after every insert to the 'bids' table for each item_id. This trigger is added as 'trigger4_add.sql' and 'trigger4_drop.sql'

14. Any new bid for a particular item must have a higher amount than any of the previous bids for that particular item.
Add a trigger to block/reject bids that are lower than the max bid_amount in the bids table for that particular item_id.This trigger is added as 'trigger5_add.sql' and 'trigger5_drop.sql'.

15. All new bids must be placed at the time which matches the current time of your AuctionBase system.
Check whether bid_time is same as current time. This trigger is added as 'trigger6_add.sql' and 'trigger6_drop.sql'

16. The current time of your AuctionBase system can only advance forward in time, not backward in time.
Add a trigger to block updates (before) to CurrentTime table where time updated is less than already existing time in the table. This trigger is added as 'trigger7_add.sql' and 'trigger7_drop.sql'
