1. No two users can share the same User ID
- PRIMARY KEY constraint on the "UserID" attribute of "Users" table
- Added to "create.sql" file

2. All sellers and bidders must already exist as users
- FOREIGN KEY constraint on the "SellerID" attribute of the "Item" table, referencing the "UserID" attribute of the "Users" table 
- FOREGIN KEY constraint on the "UserID" attribute of the "Bids" table, referencing the "UserID" attribute of the "Users" table
- Added to "create.sql" file

3. No two items can share the same Item ID
- PRIMARY KEY constraint on the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

4. Every bid must correspond to an actual item
- FOREIGN KEY constraint on the "ItemID" attribute on the "Bids" table, referencing the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

5. The items for a given category must all exist
- FOREIGN KEY constraint on the "ItemID" attribute on the "Category" table, referencing the "ItemID" attribute on the "Item" table
- Added to "create.sql" file

6. An item cannot belong to a particular category more than once
- UNIQUE constraint on the "ItemID" and "Category" attributes on the "Category" table
- Added to "create.sql" file

7. The end time for an auction must always be after its start time
- CHECK constraint on the "Item" table, making sure that the end time (ends) > start time (started)
- Added to "create.sql" file

8. The Current Price of an item must always match the Amount of the most recent bid for that item
- Insert trigger (after) on the "Bids" table that updates the "Currrently" attribute on the "Item" table, every time a new "Amount" is inserted. 
- Added to "trigger1_add.sql" and "trigger1_drop.sql" files

9. A user may not bid on an item he or she is also selling
- Insert trigger (before) on the "Bids" table to check that the "UserID" in the "Bids" table is not equal to the "SellerID" of the same "ItemID" in the "Item" table
- Added to "trigger2_add.sql" and "trigger2_drop.sql" files

10. No auction may have two bids at the exact same time.
- UNIQUE constraint on the "Time" and "ItemID" attributes in the "Bids" table
- Added to "create.sql" file

11. No auction may have a bid before its start time or after its end time.
- Insert trigger (before) on the "Bids" table to make sure that the "Time" in the "Bids" table is before the "Started" and after the "Ends" times for the same "ItemID" in the "Item" table
- Added to "trigger3_add.sql" and "trigger3_drop.sql" files

12. No user can make a bid of the same amount to the same item more than once.
- UNIQUE constraint on "UserID", "Amount", and "ItemID" attribute in the "Bids" table 
- Added to "create.sql" file

13. In every auction, the Number of Bids attribute corresponds to the actual number of bids for that particular item
- Insert trigger (after) to update "Number_of_Bids" in the "Item" table following every insert on the "Bids" table for the same "ItemID"
- Added to "trigger4_add.sql" and "trigger4_drop.sql" files

14. Any new bid for a particular item must have a higher amount than any of the previous bids for that particular item
- Insert trigger (before) on the "Bids" table that blocks new bids ("Amount") that are less than the maximum bid ("Currently") for that particular "ItemID"
- Added to "trigger5_add.sql" and "trigger5_drop.sql" files

15. All new bids must be placed at the time which matches the current time of your AuctionBase system
- Insert trigger (before) on the "Bids" table to check whether the bid time ("Time") matches the current time 
- Added to "trigger6_add.sql" and "trigger6_drop.sql" files

16. The current time of your AuctionBase system can only advance forward in time, not backward in time.
- Insert trigger (before) on the "Time" table that blocks time updates less than the current/existing system time
- Added to "trigger7_add.sql" and "trigger7_drop.sql" files

